---
title: Home page
published: true
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ site.name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf8">
<meta name="keywords" value="{{ site.meta_keywords }}" />
<meta name="description" value="{{ site.meta_description }}" />
{{ 'bootstrap.min.css' | stylesheet_tag: 'screen, projection' }}
{{ 'screen.css' | stylesheet_tag: 'screen, projection' }}
{{ 'main.css' | stylesheet_tag: 'screen, projection' }}
<!--[if lt IE 9]>
  {{ 'html5shiv' | javascript_tag }}
  {{ 'respond.min' | javascript_tag }}
<![endif]-->
</head>
<body>
<div class="container">
  {% include 'header' %}
  <div class="row">
    <div class="col-md-8">
      <div class="top-story thumbnail">
        <a href="recommended.html">
          <h1>XXXXXXXX</h1>
          <img class="img-responsive" src="uploads/2011/08/01.jpg" alt="XXXXX"></img>
          <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
          <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      {% include 'events' %}
    </div>
  </div>
  {% include 'footer' %}
  {{ 'jquery-2.0.3.min' | javascript_tag }}
  {{ 'bootstrap.min' | javascript_tag }}
  {{ 'timeliner' | javascript_tag }}
  <script>
$(document).ready(function() {
  $.timeliner({
    startOpen:['#131108EX']
  });
});
  </script>
  </body>
  </html>
